.container {
    margin: 16px auto;
    width: 300px;
    height: 100%;
}
.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 5px;

    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

    color: #fff;
    font-size: 14px;

    background: #000000;
    opacity: 0.9;
    height: 60px;
    width: 100%;
}